services:
  api:
    build: api
    platform: linux/amd64
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    build: db
    platform: linux/amd64
    ports:
      - "6379:6379"
    volumes:
      - .data:/data
